@import url('https://fonts.googleapis.com/css2?family=Tauri&family=Varela+Round&display=swap');

:root{
    --tasksize: 500px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: #3a7880;
}

.header-container{
    width: var(--tasksize);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.header-container img{
    background-color: rgba(255, 255, 255, 0.19);
}

.header-container button{
    background-image: url("images/option.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 4px;
    margin-top: 50px;
    padding: 5px;
    width: 24px;
    height: 24px;
}



p.task-header{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 50px 0 0 0;
}

hr.task-header{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: rgba(255, 255, 255, 0.7);
    height: 2px;
    border: none;
    width: var(--tasksize);
}


.task-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#input-box{
    color: #383838;
    width: 150px;
    background-color: white;
    font-size: 22px;
    top: 20px;
    align-self: center;
    position: relative;
    height:50px ;
    border-width: 0;
    transition: width 0.5s;
}


.task-description input:focus{
    outline: none;
}

.task-description.spawn{
    width: var(--tasksize);
}

.task-description.spawn #input-box{
    width: calc(var(--tasksize) - var(--tasksize)*10/100);
}

::placeholder{
    font-size: medium;
    font-style: italic;
    opacity: 0.5;
}

.new-task{

    display: flex;
    width: var(--tasksize);
    height: 60px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.3);
    border: 3px dashed rgba(255, 255, 255, 0.5);
    stroke-dasharray: 4;
    background-size: 50px;
    align-items: center;
    background-color: rgba(0,0,0,0.15);
    justify-content: center;
    margin-bottom: 20px;

}

.new-task:hover{
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
}

.new-task::before{
    content: '';
    width: 24px;
    height: 24px;
    align-self: center;
    background-image: url("images/plusicon.png");
    background-size: cover;
    background-position: center;
    opacity: 40%;
    margin-right: 5px;
}


.task-description{
    position: relative;
    display: none;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 50px solid #eaeaea;
    box-shadow: 0 5px 10px rgba(52, 52, 52, 0.4);
    transition: width 0.5s;
}

.new-task-container{
    position: relative;
}

.timer{
    display: flex;
    width: 200px;
    left: 25px;
    top: 35px;
    position: relative;
}

.timer input{
    color: #383838;
    text-align: center;
    width: 65px;
    background-color: #f5f5f5;
    font-size: 16px;
    height:30px ;
    border-width: 0;
    border-radius: 4px;
    transition: width 0.5s;
}

.desc-clock{
    width: 30px;
    height: 30px;
    display: flex;
    background-image: url("images/stopwatch.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
.timer input::placeholder{
    color: #bbbbbb;
    text-align: center;
}


.desc-buttons{
    display: flex;
    position: absolute;
    bottom: -40px;
    align-self: end;
}

.task-description button{
    display: flex;
    margin-right: 15px;
}

.cancel-button{
    border: none;
    background-color: #eaeaea;
    color: grey;
    align-self: center;
    transition: color 0.1s;
}

.cancel-button:hover{
    color: #4d4d4d;
}

.add-button{
    align-items: center;
    text-align: center;
    border: none;
    background-color: #2c2c2c;
    color: white;
    border-radius: 5px;
    height: 20px;
    padding: 15px 30px 15px 30px;
    transition: background-color 0.4s;
}

.add-button:hover{
    background-color: #111111;

}


ul, li{
    vertical-align: middle;
    list-style: none;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    width: var(--tasksize);

}

li{
    position: relative;
    display: flex;
    color: #383838;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    min-height: 60px;
    padding: 22px 100px 22px 50px;
    border-radius: 10px;
    background-color: #ffffff;
    border-left: 15px solid #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    overflow-wrap: break-word;
    word-break: break-all;
    transition: border-left-color 100ms;
}

li:hover{
    border-left: 15px solid #d3d3d3;
}

li::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
}

li.checked{
    text-decoration: line-through;
    color: #838383;

}

li.dragging{
    opacity: 0;
}


li.checked::before{
    background-image: url("images/checked.png");
}

.close-span{
    color: #383838;
    display: flex;
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
}

.close-span:hover{
    background-color: rgba(61, 61, 61, 0.07);
}

.time-bar{
    position: absolute;
    right: 55px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: conic-gradient(#262626 360deg, #d7d7d7 360deg);
    display: flex;
    justify-content: center;
    place-items: center;
    transition: background 0.1s;
}

.time-bar::before{
    content: '';
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 50%;
}

.time-bar:hover{
}

@media  screen and (max-width: 600px){
    :root{
        --tasksize: 300px;

    }
}